{% extends "base.html" %}
{% block title %}Players Gonna Play{% endblock %} 
{% block content %}

    <p>Ahhhhh ... You want to play a game?</p>
    <p>First, we'll need some information from you!</p>

    <table width="50%">

    <form action="/madlib" method=GET name="madlib-info">
        {% for key in pairs %}
            <tr>
                <td>{{ key }}</td>
                <td><input type="text" name="{{ pairs[key] }}" 
                           required></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>

    </form>
    </table>

{% endblock %}