<!doctype html>
<html>
<head>
  <title>Players Gonna Play</title>
</head>
<body>
    <p>Ahhhhh ... You want to play a game?</p>
    <p>First, we'll need some information from you!</p>

    <table width="50%">

    <form action="/madlib" method=GET name="madlib-info">
    <tr>
        <td>Color:</td>
        <td><input type="text" name="color" required></td>
    </tr>
    <tr>
        <td>Person:</td>
        <td><input type="text" name="person" required></td>
    </tr>
    <tr>
        <td>Noun:</td>
        <td><input type="text" name="noun" required></td>
    </tr>
    <tr>
        <td>Adjective:</td>
        <td><input type="text" name="adj" required></td>
    </tr>
        <td colspan="2"><input type="submit"></td>

    </form>
    </table>


</body>
</html>

pairs = {
    adjective1: adj1, 
    noun1: n1,
    past_verb: pv,
    adverb1: adv1,
    adjective2: adj2,
    noun2: n2,
    noun3: n3,
    adjective3: adj3
    verb1: v1,
    adverb2: adv2,
    past_verb2: pv2,
    adjective4: adj4
}
